button{
  margin: 4px;
  padding: 2px;
}
.border-blue-1 {
  border: 1px solid blue;
}
.border-blue-2 {
  border: 2px solid blue;
}
.border-green-1 {
  border: 1px solid green;
}
.border-red-1 {
  border: 1px solid red;
}
.border-yellow-1 {
  border: 1px solid yellow;
}
.border-purple-1 {
  border: 1px solid purple;
}
.border-brown-1 {
  border: 1px solid brown;
}

.border-orange-1 {
  border: 1px solid orange;
}
.border-teal-1 {
  border: 1px solid teal;
}
.align-text-center {
  text-align: center;
}
.author {
  display: flex;
  justify-content: flex-end;
  padding: 15px;
}
.m-4 {
  margin: 8px;
}
.ml-4 {
  margin-left: 8px;
}
.mt-4 {
  margin-top: 8px;
}
.mb-4 {
  margin-bottom: 8px;
}
.mr-4 {
  margin-right: 8px;
}
.m-5 {
  margin: 10px;
}
.ml-5 {
  margin-left: 10px;
}
.mt-5 {
  margin-top: 10px;
}
.mb-5 {
  margin-bottom: 10px;
}
.mr-5 {
  margin-right: 10px;
}
.m-6 {
  margin: 12px;
}
.ml-6 {
  margin-left: 12px;
}
.mt-6 {
  margin-top: 12px;
}
.mb-6{
  margin-bottom: 12px;
}
.mr-6 {
  margin-right: 12px;
}
.m-7 {
  margin: 14px;
}
.ml-7 {
  margin-left: 14px;
}
.mt-7 {
  margin-top: 14px;
}
.mb-7 {
  margin-bottom: 14px;
}
.mr-7 {
  margin-right: 14px;
}
.m-8 {
  margin: 16px;
}
.ml-8 {
  margin-left: 16px;
}
.mt-8 {
  margin-top: 16px;
}
.mb-8 {
  margin-bottom: 16px;
}
.mr-8 {
  margin-right: 16px;
}
